{% extends "layout.html" %}

<!-- Profile para carregar um único perfil de personagem! -->

{% block content %}
<div class="row">
    <!-- Bloco de código que será consumido pela API -->

    <!-- Não precisa de laço for -->
    <!-- {% for profile_unique in profile %} -->
    <!-- <div class="col-3 col-xs-4"> -->
    <div class="col-sm-3 col-6">

        <!-- Parece mensão do Copilot -->
        <img src="{{profile_unique.image}}" alt="{{profile_unique.name}}" class="img-thumbnail"/>

        <h3 class="h5">{{profile_unique.name}}</h3>

    </div>
    <!-- {% endfor %} -->
</div>
{% endblock %}